body {
	margin: 20px;
	touch-action: none;
	font-family: sans-serif;
	font-size: 5vh;
	caret-color: transparent;
	user-select: none;
}

@font-face {
    font-family: 'MEXT';
    src: url('mext.otf') format("opentype");
}

#game {
	display: grid;
	grid-template-rows: 10% 20% 60%;
	gap: 5%;
}

#progress {
	display: flex;
	justify-content: space-around;
}

#hint {
	background: pink;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "MEXT", sans-serif;
	font-size: 10vh;
	border: thick outset pink;
}

#buttons {
	display: grid;
	grid-auto-rows: minmax(0px, auto);
	gap: 10px;
}

.choice {
	background: yellow;
	width: 100%;
	height: 100%;
	object-fit: contain;
	box-sizing: border-box;
	border: thick outset yellow;
	padding: 10px;
}
